.LoginForm {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  .header {
    text-align: center;
    text-transform: uppercase;
    margin: 2px 0 9px 0 !important;
  }
  // .field {
  //   margin: 0 0 10px;
  //   .input {
  //     width: 100%;
  //   }
  // }
  .button {
    width: 100%;
  }
}
