.LoginForm {
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  .header {
    text-align: center;
    text-transform: uppercase;
  }
  .field {
    .input {
      width: 100%;
      margin: 0 0 10px;
    }
  }
  .button {
    width: 100%;
  }
}
