.Layout {
  .layout-body {
    left: 0;
    height: calc(100vh - 60px);
    overflow: auto;
    margin-left: 148px;
    top: 60px;
    position: absolute;
    width: calc(100% - 148px);
    overflow-x: hidden;
    padding: 0 $padding;
    background-color: $grey4;
    @media (max-width: $sm) {
      top: 50px;
      height: calc(100vh - 50px);
      width: 100%;
      margin-left: 0;
    }
  }
}
