@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

$color_1: #666666;
$background_color_1: #f4f4f4;

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font: 13px 'Lato', Arial, Verdana, sans-serif;
  font-weight: 400;
  color: $color_1;
  -webkit-font-smoothing: antialiased;
  background-color: $background_color_1;
  animation: fadein 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
