body {
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}
body ::-webkit-scrollbar {
  width: 6px;
}
.ui.button {
  font-family: 'Dosis', sans-serif !important;
  font-size: 15px;
  line-height: 36px;
  padding: 0;
  font-weight: 500;
  text-transform: inherit;
}

// primary button
.ui.primary.button,
.ui.primary.buttons .button {
  background-color: $primary;
}

.ui.primary.button:active,
.ui.primary.buttons .button:active {
  background-color: darken($color: $primary, $amount: 7);
}

.ui.primary.button:focus,
.ui.primary.buttons .button:focus {
  background-color: darken($color: $primary, $amount: 7);
}

.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background-color: darken($color: $primary, $amount: 7);
}

// secondary button
.ui.secondary.button,
.ui.secondary.buttons .button {
  background-color: $secondary;
}

.ui.secondary.button:active,
.ui.secondary.buttons .button:active {
  background-color: darken($color: $secondary, $amount: 7);
}

.ui.secondary.button:focus,
.ui.secondary.buttons .button:focus {
  background-color: darken($color: $secondary, $amount: 7);
}

.ui.secondary.button:hover,
.ui.secondary.buttons .button:hover {
  background-color: darken($color: $secondary, $amount: 7);
}

.ui.dropdown {
  user-select: none;
}

.ui.dropdown .menu {
  border-radius: $borderRadius;
  box-shadow: none !important;
}

.ui.dropdown .menu > .item {
  font-size: 14px;
  font-weight: 500;
  color: $fontColor2;
}

.ui.dropdown .menu > .item:hover {
  background-color: $grey4;
  color: $fontColor1;
}

.ui.input {
  height: 36px;
  input {
    border: 1px solid $inputBorderColor;
    &:focus {
      border-color: $inputBorderFocusColor !important;
    }
  }
  i.material-icons {
    font-size: 21px;
  }
  &.labeled {
    .label {
      background-color: $inputBorderColor;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.ui.card,
.ui.cards > .card {
  box-shadow: none;
  border: 1px solid $borderColor;
}

.ui.card > .content > .header,
.ui.cards > .card > .content > .header {
  color: $fontColor2;
}
